streamlit==1.36.0
streamlit-option-menu==0.3.12
pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.4
inflection==0.5.1
scikit-learn
imbalanced-learn==0.12.2
xgboost==2.1.0
scikit-optimize==0.10.1
plotly==5.22.0
